#basket-notification.basket-popup.popup
  .popup__inner
    .popup__head
      .popup__title.tp-heading--big !{basket.notification.title}
    .popup__body
      .basket-popup__products.basket-products
        for item, index in basket.products
          if index === 0
            .basket-popup__product.mini-product
              .mini-product__img(style=`background-image: url("${item.img}")`)
                a.mini-product__img-link(href=item.url)
              .mini-product__info
                .mini-product__art.tp-body--smaller.tp-text--light Артикул: !{item.art}
                .mini-product__title.tp-heading--small !{item.title}
                .mini-product__price.tp-body--base !{item.price}
                .mini-product__params.tp-body--small.tp-text--light
                  for i, index in item.params
                    .param !{i.val}
    .popup__foot
      a.btn.btn--full(href=basket.notification.link.url) !{basket.notification.link.title}